.wrapperPopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  transition: 0.5s;
  opacity: 0.9;
  z-index: 2;
}
.editPopBox {
  height: 30%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  box-shadow: 2px 2px 10px 1px #2563eb;
  border-radius: 20px;
  transition: 0.5s;
  animation: popUp 0.5s;
}
form {
  margin: 0;
}